@use "decaf.scss" as *;

.dcf-palette-dark {
  --dcf-content-background: transparent;
  --dcf-input-fill-background: var(--dcf-color-step-100);
  --dcf-text-color: #ffffff;

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  &.ios body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-color-step-50: #0d0d0d;
    --dcf-color-step-100: #1a1a1a;
    --dcf-color-step-150: #262626;
    --dcf-color-step-200: #333333;
    --dcf-color-step-250: #404040;
    --dcf-color-step-300: #4d4d4d;
    --dcf-color-step-350: #595959;
    --dcf-color-step-400: #666666;
    --dcf-color-step-450: #737373;
    --dcf-color-step-500: #808080;
    --dcf-color-step-550: #8c8c8c;
    --dcf-color-step-600: #999999;
    --dcf-color-step-650: #a6a6a6;
    --dcf-color-step-700: #b3b3b3;
    --dcf-color-step-750: #bfbfbf;
    --dcf-color-step-800: #cccccc;
    --dcf-color-step-850: #d9d9d9;
    --dcf-color-step-900: #e6e6e6;
    --dcf-color-step-950: #f2f2f2;
    --dcf-item-background: #2f3349;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }
  &.ios ion-modal {
    --dcf-background-color: var(--dcf-color-step-100);
    --dcf-toolbar-background: var(--dcf-color-step-150);
    --dcf-toolbar-border-color: var(--dcf-color-step-250);
  }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  &.md body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-border-color: #222222;
    --dcf-color-step-50: #2f3349;
    --dcf-color-step-100: #2a2a2a;
    --dcf-color-step-150: #363636;
    --dcf-color-step-200: #414141;
    --dcf-color-step-250: #4d4d4d;
    --dcf-color-step-300: #595959;
    --dcf-color-step-350: #656565;
    --dcf-color-step-400: #717171;
    --dcf-color-step-450: #7d7d7d;
    --dcf-color-step-500: #898989;
    --dcf-color-step-550: #949494;
    --dcf-color-step-600: #a0a0a0;
    --dcf-color-step-650: #acacac;
    --dcf-color-step-700: #b8b8b8;
    --dcf-color-step-750: #c4c4c4;
    --dcf-color-step-800: #d0d0d0;
    --dcf-color-step-850: #dbdbdb;
    --dcf-color-step-900: #e7e7e7;
    --dcf-color-step-950: #f3f3f3;
    --dcf-item-background: #2f3349;
    --dcf-toolbar-background: #2f3349;
    --dcf-tab-bar-background: #31354d;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }

  // overriding ionic variables
  :root {
    --ion-input-fill-background: var(--dcf-input-fill-background);
    --ion-text-color: var(--dcf-text-color);
  }
  // iOS Dark Theme
  &.ios body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);

    --ion-item-background: var(--dcf-item-background);

    --ion-card-background: var(--dcf-card-background);
  }

  &.ios ion-modal {
    --ion-background-color: var(--dcf-color-step-100);
    --ion-toolbar-background: var(--dcf-color-step-150);
    --ion-toolbar-border-color: var(--dcf-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  &.md body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-border-color: var(--dcf-border-color);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);
    --ion-item-background: var(--dcf-item-background);
    --ion-toolbar-background: var(--dcf-toolbar-background);
    --ion-tab-bar-background: var(--dcf-tab-bar-background);
    --ion-card-background: var(--dcf-card-background);
  }
}
