:root {
  --ion-default-dynamic-font: var(--dcf-default-dynamic-font) !important;

  --ion-color-primary: var(--dcf-color-primary);
  --ion-color-primary-rgb: var(--dcf-color-primary-rgb);
  --ion-color-primary-contrast: var(--dcf-color-primary-contrast);
  --ion-color-primary-contrast-rgb: var(--dcf-color-primary-contrast-rgb);
  --ion-color-primary-shade: var(--dcf-color-primary-shade);
  --ion-color-primary-tint: var(--dcf-color-primary-tint);

  --ion-color-secondary: var(--dcf-color-secondary);
  --ion-color-secondary-rgb: var(--dcf-color-secondary-rgb);
  --ion-color-secondary-contrast: var(--dcf-color-secondary-contrast);
  --ion-color-secondary-contrast-rgb: var(--dcf-color-secondary-contrast-rgb);
  --ion-color-secondary-shade: var(--dcf-color-secondary-shade);
  --ion-color-secondary-tint: var(--dcf-color-secondary-tint);

  --ion-color-tertiary: var(--dcf-color-tertiary);
  --ion-color-tertiary-rgb: var(--dcf-color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--dcf-color-tertiary-contrast);
  --ion-color-tertiary-contrast-rgb: var(--dcf-color-tertiary-contrast-rgb);
  --ion-color-tertiary-shade: var(--dcf-color-tertiary-shade);
  --ion-color-tertiary-tint: var(--dcf-color-tertiary-tint);

  --ion-color-success: var(--dcf-color-success);
  --ion-color-success-rgb: var(--dcf-color-success-rgb);
  --ion-color-success-contrast: var(--dcf-color-success-contrast);
  --ion-color-success-contrast-rgb: var(--dcf-color-success-contrast-rgb);
  --ion-color-success-shade: var(--dcf-color-success-shade);
  --ion-color-success-tint: var(--dcf-color-success-tint);

  --ion-color-warning: var(--dcf-color-warning);
  --ion-color-warning-rgb: var(--dcf-color-warning-rgb);
  --ion-color-warning-contrast: var(--dcf-color-warning-contrast);
  --ion-color-warning-contrast-rgb: var(--dcf-color-warning-contrast-rgb);
  --ion-color-warning-shade: var(--dcf-color-warning-shade);
  --ion-color-warning-tint: var(--dcf-color-warning-tint);

  --ion-color-danger: var(--dcf-color-danger);
  --ion-color-danger-rgb: var(--dcf-color-danger-rgb);
  --ion-color-danger-contrast: var(--dcf-color-danger-contrast);
  --ion-color-danger-contrast-rgb: var(--dcf-color-danger-contrast-rgb);
  --ion-color-danger-shade: var(--dcf-color-danger-shade);
  --ion-color-danger-tint: var(--dcf-color-danger-tint);

  --ion-color-light: var(--dcf-color-light);
  --ion-color-light-rgb: var(--dcf-color-light-rgb);
  --ion-color-light-contrast: var(--dcf-color-light-contrast);
  --ion-color-light-contrast-rgb: var(--dcf-color-light-contrast-rgb);
  --ion-color-light-shade: var(--dcf-color-light-shade);
  --ion-color-light-tint: var(--dcf-color-light-tint);

  --ion-color-medium: var(--dcf-color-medium);
  --ion-color-medium-rgb: var(--dcf-color-medium-rgb);
  --ion-color-medium-contrast: var(--dcf-color-medium-contrast);
  --ion-color-medium-contrast-rgb: var(--dcf-color-medium-contrast-rgb);
  --ion-color-medium-shade: var(--dcf-color-medium-shade);
  --ion-color-medium-tint: var(--dcf-color-medium-tint);

  --ion-color-dark: var(--dcf-color-dark);
  --ion-color-dark-rgb: var(--dcf-color-dark-rgb);
  --ion-color-dark-contrast: var(--dcf-color-dark-contrast);
  --ion-color-dark-contrast-rgb: var(--dcf-color-dark-contrast-rgb);
  --ion-color-dark-shade: var(--dcf-color-dark-shade);
  --ion-color-dark-tint: var(--dcf-color-dark-tint);

  --ion-color-gray-0: var(--dcf-color-gray-0);
  --ion-color-gray-1: var(--dcf-color-gray-1);
  --ion-color-gray-2: var(--dcf-color-gray-2);
  --ion-color-gray-3: var(--dcf-color-gray-3);
  --ion-color-gray-4: var(--dcf-color-gray-4);
  --ion-color-gray-5: var(--dcf-color-gray-5);
  --ion-color-gray-6: var(--dcf-color-gray-6);
  --ion-color-gray-7: var(--dcf-color-gray-7);
  --ion-color-gray-8: var(--dcf-color-gray-8);
  --ion-color-gray-9: var(--dcf-color-gray-9);
  --ion-color-gray-10: var(--dcf-color-gray-10);
}

.dcf-palette-dark {
  :root {
    --ion-input-fill-background: var(--dcf-input-fill-background);
    --ion-text-color: var(--dcf-text-color);
  }
  // iOS Dark Theme
  &.ios body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);

    --ion-item-background: var(--dcf-item-background);

    --ion-card-background: var(--dcf-card-background);
  }

  &.ios ion-modal {
    --ion-background-color: var(--dcf-color-step-100);
    --ion-toolbar-background: var(--dcf-color-step-150);
    --ion-toolbar-border-color: var(--dcf-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  &.md body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-border-color: var(--dcf-border-color);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);
    --ion-item-background: var(--dcf-item-background);
    --ion-toolbar-background: var(--dcf-toolbar-background);
    --ion-tab-bar-background: var(--dcf-tab-bar-background);
    --ion-card-background: var(--dcf-card-background);
  }
}
