@use "variables/decaf.scss" as *;

html,
body,
* {
  font-family: var(--dcf-font-family);
  font-style: normal;
}

// =================== Text Sizes =================== //
.dcf-text-lead {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--dfc-color-dark-tint);
}
.dcf-text-meta {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--dfc-color-medium);
}
.dcf-text-meta > a {
  color: var(--dfc-color-medium);
}
.dcf-text-meta > a:hover {
  color: var(--dfc-color-medium-shade);
  text-decoration: none;
}

.dcf-text-small {
  font-size: 0.875rem;
  line-height: 1.5;
}
.dcf-text-large {
  font-size: 1.5rem;
  line-height: 1.5;
}
.dcf-text-default {
  font-size: 16px;
  line-height: 1.5;
}

.dcf-text-light {
  font-weight: 300;
}
.dcf-text-normal {
  font-weight: 400;
}
.dcf-text-bold {
  font-weight: 700;
}
.dcf-text-lighter {
  font-weight: lighter;
}
.dcf-text-bolder {
  font-weight: bolder;
}
.dcf-text-italic {
  font-style: italic;
}
.dcf-text-capitalize {
  text-transform: capitalize !important;
}
.dcf-text-uppercase {
  text-transform: uppercase !important;
}
.dcf-text-lowercase {
  text-transform: lowercase !important;
}

// =================== Text Aligments =================== //
.dcf-text-left {
  text-align: left !important;
}
.dcf-text-right {
  text-align: right !important;
}
.dcf-text-center {
  text-align: center !important;
}
.dcf-text-justify {
  text-align: justify !important;
}
/* Phone landscape and bigger */
@media (min-width: $dcf-width-small) {
  .dcf-text-left\@s {
    text-align: left !important;
  }
  .dcf-text-right\@s {
    text-align: right !important;
  }
  .dcf-text-center\@s {
    text-align: center !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: $dcf-width-medium) {
  .dcf-text-left\@m {
    text-align: left !important;
  }
  .dcf-text-right\@m {
    text-align: right !important;
  }
  .dcf-text-center\@m {
    text-align: center !important;
  }
}
/* Desktop and bigger */
@media (min-width: $dcf-width-large) {
  .dcf-text-left\@l {
    text-align: left !important;
  }
  .dcf-text-right\@l {
    text-align: right !important;
  }
  .dcf-text-center\@l {
    text-align: center !important;
  }
}
/* Large screen and bigger */
@media (min-width: $dcf-width-xlarge) {
  .dcf-text-left\@xl {
    text-align: left !important;
  }
  .dcf-text-right\@xl {
    text-align: right !important;
  }
  .dcf-text-center\@xl {
    text-align: center !important;
  }
}

@media (min-width: $dcf-width-2xlarge) {
  .dcf-text-left\@2xl {
    text-align: left !important;
  }
  .dcf-text-right\@2xl {
    text-align: right !important;
  }
  .dcf-text-center\@2xl {
    text-align: center !important;
  }
}
/*
 * Vertical
 */
.dcf-text-top {
  vertical-align: top !important;
}
.dcf-text-middle {
  vertical-align: middle !important;
}
.dcf-text-bottom {
  vertical-align: bottom !important;
}
.dcf-text-baseline {
  vertical-align: baseline !important;
}

// =================== Colors =================== //
.dcf-color-primary,
[color="primary"] {
  color: var(--dcf-color-primary) !important;
}
.dcf-color-secondary,
[color="secondary"] {
  color: var(--dcf-color-secondary) !important;
}
.dcf-color-tertiary,
[color="tertiary"] {
  color: var(--dcf-color-tertiary) !important;
}
.dcf-color-success,
[color="success"] {
  color: var(--dcf-color-success) !important;
}
.dcf-color-warning,
[color="warning"] {
  color: var(--dcf-color-warning) !important;
}
.dcf-color-danger,
[color="danger"] {
  color: var(--dcf-color-danger) !important;
}
.dcf-color-light,
[color="light"] {
  color: var(--dcf-color-light) !important;
}
.dcf-color-medium,
[color="medium"] {
  color: var(--dcf-color-medium) !important;
}
.dcf-color-dark,
[color="dark"] {
  color: var(--dcf-color-dark) !important;
}
.dcf-color-gray-0,
[color="gray-0"] {
  color: var(--dcf-color-gray-0) !important;
}
.dcf-color-gray-1,
[color="gray-1"] {
  color: var(--dcf-color-gray-1) !important;
}
.dcf-color-gray-2,
[color="gray-2"] {
  color: var(--dcf-color-gray-2) !important;
}
.dcf-color-gray-3,
[color="gray-3"] {
  color: var(--dcf-color-gray-3) !important;
}
.dcf-color-gray-4,
[color="gray-4"] {
  color: var(--dcf-color-gray-4) !important;
}
.dcf-color-gray-5,
[color="gray-5"] {
  color: var(--dcf-color-gray-5) !important;
}
.dcf-color-gray-6,
[color="gray-6"] {
  color: var(--dcf-color-gray-6) !important;
}
.dcf-color-gray-7,
[color="gray-7"] {
  color: var(--dcf-color-gray-7) !important;
}
.dcf-color-gray-8,
[color="gray-8"] {
  color: var(--dcf-color-gray-8) !important;
}
.dcf-color-gray-9,
[color="gray-9"] {
  color: var(--dcf-color-gray-9) !important;
}
.dcf-color-gray-10,
[color="gray-10"] {
  color: var(--dcf-color-gray-10) !important;
}
