@use "variables/decaf.scss" as *;

.dcf-grid {
  display: flex;

  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.dcf-grid > * {
  margin: 0;
}

.dcf-grid > * > :last-child {
  margin-bottom: 0;
}

.dcf-grid {
  margin-left: -$dcf-spacement-medium;
}
.dcf-grid > * {
  padding-left: $dcf-spacement-medium;
}

.dcf-grid + .dcf-grid,
.dcf-grid > .dcf-grid-margin,
* + .dcf-grid-margin {
  margin-top: $dcf-spacement-medium;
}

@media (min-width: $dcf-width-xl) {
  .dcf-grid {
    margin-left: -$dcf-spacement-large;
  }
  .dcf-grid > * {
    padding-left: $dcf-spacement-large;
  }

  .dcf-grid + .dcf-grid,
  .dcf-grid > .dcf-grid-margin,
  * + .dcf-grid-margin {
    margin-top: $dcf-spacement-large;
  }
}

.dcf-grid-small,
.dcf-grid-column-small {
  margin-left: ($dcf-spacement - $dcf-spacement-xsmall) * -1;
}
.dcf-grid-small > *,
.dcf-grid-column-small > * {
  padding-left: $dcf-spacement-small + $dcf-spacement-xsmall;
}

.dcf-grid + .dcf-grid-small,
.dcf-grid + .dcf-grid-row-small,
.dcf-grid-small > .dcf-grid-margin,
.dcf-grid-row-small > .dcf-grid-margin,
* + .dcf-grid-margin-small {
  margin-top: $dcf-spacement-small + $dcf-spacement-xsmall;
}

.dcf-grid-medium,
.dcf-grid-column-medium {
  margin-left: -$dcf-spacement-medium;
}
.dcf-grid-medium > *,
.dcf-grid-column-medium > * {
  padding-left: $dcf-spacement-medium;
}

.dcf-grid + .dcf-grid-medium,
.dcf-grid + .dcf-grid-row-medium,
.dcf-grid-medium > .dcf-grid-margin,
.dcf-grid-row-medium > .dcf-grid-margin,
* + .dcf-grid-margin-medium {
  margin-top: $dcf-spacement-medium;
}

.dcf-grid-large,
.dcf-grid-column-large {
  margin-left: -$dcf-spacement-large;
}
.dcf-grid-large > *,
.dcf-grid-column-large > * {
  padding-left: $dcf-spacement-large;
}

.dcf-grid + .dcf-grid-large,
.dcf-grid + .dcf-grid-row-large,
.dcf-grid-large > .dcf-grid-margin,
.dcf-grid-row-large > .dcf-grid-margin,
* + .dcf-grid-margin-large {
  margin-top: $dcf-spacement-large;
}

@media (min-width: $dcf-width-xl) {
  .dcf-grid-large,
  .dcf-grid-column-large {
    margin-left: -$dcf-spacement-large;
  }
  .dcf-grid-large > *,
  .dcf-grid-column-large > * {
    padding-left: $dcf-spacement-large;
  }

  .dcf-grid + .dcf-grid-large,
  .dcf-grid + .dcf-grid-row-large,
  .dcf-grid-large > .dcf-grid-margin,
  .dcf-grid-row-large > .dcf-grid-margin,
  * + .dcf-grid-margin-large {
    margin-top: $dcf-spacement-large;
  }
}

.dcf-grid-collapse,
.dcf-grid-column-collapse {
  margin-left: 0;
}
.dcf-grid-collapse > *,
.dcf-grid-column-collapse > * {
  padding-left: 0;
}

.dcf-grid + .dcf-grid-collapse,
.dcf-grid + .dcf-grid-row-collapse,
.dcf-grid-collapse > .dcf-grid-margin,
.dcf-grid-row-collapse > .dcf-grid-margin {
  margin-top: 0;
}

.dcf-grid-divider > * {
  position: relative;
}
.dcf-grid-divider > :not(.dcf-first-column)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--dcf-color-gray-2);
}

.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid var(--dcf-color-gray-2);
}

.dcf-grid-divider {
  margin-left: -$dcf-spacement-medium * 2;
}
.dcf-grid-divider > * {
  padding-left: $dcf-spacement-medium * 2;
}
.dcf-grid-divider > :not(.dcf-first-column)::before {
  left: $dcf-spacement-medium;
}

.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
  margin-top: $dcf-spacement-medium * 2;
}
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-medium;
  left: $dcf-spacement-medium * 2;
}

@media (min-width: $dcf-width-xl) {
  .dcf-grid-divider {
    margin-left: -$dcf-spacement-large * 2;
  }
  .dcf-grid-divider > * {
    padding-left: $dcf-spacement-large * 2;
  }
  .dcf-grid-divider > :not(.dcf-first-column)::before {
    left: $dcf-spacement-large;
  }

  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
    margin-top: $dcf-spacement-large * 2;
  }
  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
    top: -$dcf-spacement-large;
    left: $dcf-spacement-large * 2;
  }
}

.dcf-grid-divider.dcf-grid-small,
.dcf-grid-divider.dcf-grid-column-small {
  margin-left: -$dcf-spacement-medium;
}
.dcf-grid-divider.dcf-grid-small > *,
.dcf-grid-divider.dcf-grid-column-small > * {
  padding-left: $dcf-spacement-medium;
}
.dcf-grid-divider.dcf-grid-small > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-small > :not(.dcf-first-column)::before {
  left: $dcf-spacement-small + $dcf-spacement-xsmall;
}

.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin {
  margin-top: $dcf-spacement-medium;
}
.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-small + $dcf-spacement-xsmall;
  left: $dcf-spacement-medium;
}
.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-small + $dcf-spacement-xsmall;
}
.dcf-grid-divider.dcf-grid-column-small.dcf-grid-stack
  > .dcf-grid-margin::before {
  left: $dcf-spacement-medium;
}

.dcf-grid-divider.dcf-grid-medium,
.dcf-grid-divider.dcf-grid-column-medium {
  margin-left: -$dcf-spacement-medium * 2;
}
.dcf-grid-divider.dcf-grid-medium > *,
.dcf-grid-divider.dcf-grid-column-medium > * {
  padding-left: $dcf-spacement-medium * 2;
}
.dcf-grid-divider.dcf-grid-medium > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-medium > :not(.dcf-first-column)::before {
  left: $dcf-spacement-medium;
}

.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack > .dcf-grid-margin {
  margin-top: $dcf-spacement-medium * 2;
}
.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-medium;
  left: $dcf-spacement-medium * 2;
}
.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack
  > .dcf-grid-margin::before {
  top: -$dcf-spacement-medium;
}
.dcf-grid-divider.dcf-grid-column-medium.dcf-grid-stack
  > .dcf-grid-margin::before {
  left: $dcf-spacement-medium * 2;
}

.dcf-grid-divider.dcf-grid-large,
.dcf-grid-divider.dcf-grid-column-large {
  margin-left: -$dcf-spacement-large * 2;
}
.dcf-grid-divider.dcf-grid-large > *,
.dcf-grid-divider.dcf-grid-column-large > * {
  padding-left: $dcf-spacement-large * 2;
}
.dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
  left: $dcf-spacement-large;
}

.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
  margin-top: $dcf-spacement-large * 2;
}
.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-large;
  left: $dcf-spacement-large * 2;
}
.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -$dcf-spacement-large;
}
.dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack
  > .dcf-grid-margin::before {
  left: $dcf-spacement-large * 2;
}

@media (min-width: $dcf-width-xl) {
  .dcf-grid-divider.dcf-grid-large,
  .dcf-grid-divider.dcf-grid-column-large {
    margin-left: $dcf-spacement-large;
  }
  .dcf-grid-divider.dcf-grid-large > *,
  .dcf-grid-divider.dcf-grid-column-large > * {
    padding-left: $dcf-spacement-large;
  }
  .dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
  .dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
    left: $dcf-spacement-large;
  }

  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
    margin-top: $dcf-spacement-large;
  }
  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
    top: -$dcf-spacement-large;
    left: $dcf-spacement-large;
  }
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack
    > .dcf-grid-margin::before {
    top: -$dcf-spacement-large;
  }
  .dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack
    > .dcf-grid-margin::before {
    left: $dcf-spacement-large;
  }
}

.dcf-grid-match > *,
.dcf-grid-item-match {
  display: flex;
  flex-wrap: wrap;
}
.dcf-grid-match > * > :not([class*="dcf-width"]),
.dcf-grid-item-match > :not([class*="dcf-width"]) {
  box-sizing: border-box;
  width: 100%;
  flex: auto;
}
