@use "variables/decaf.scss" as *;

.dcf-margin {
  margin-bottom: $dcf-spacement;
}
* + .dcf-margin {
  margin-top: $dcf-spacement !important;
}
.dcf-margin-top {
  margin-top: $dcf-spacement !important;
}
.dcf-margin-bottom {
  margin-bottom: $dcf-spacement !important;
}
.dcf-margin-left {
  margin-left: $dcf-spacement !important;
}
.dcf-margin-right {
  margin-right: $dcf-spacement !important;
}

.dcf-margin-xsmall {
  margin-bottom: $dcf-spacement-xsmall;
}
* + .dcf-margin-xsmall {
  margin-top: $dcf-spacement-xsmall !important;
}
.dcf-margin-xsmall-top {
  margin-top: $dcf-spacement-xsmall !important;
}
.dcf-margin-xsmall-bottom {
  margin-bottom: $dcf-spacement-xsmall !important;
}
.dcf-margin-xsmall-left {
  margin-left: $dcf-spacement-xsmall !important;
}
.dcf-margin-xsmall-right {
  margin-right: $dcf-spacement-xsmall !important;
}

.dcf-margin-small {
  margin-bottom: $dcf-spacement-small;
}
* + .dcf-margin-small {
  margin-top: $dcf-spacement-small !important;
}
.dcf-margin-small-top {
  margin-top: $dcf-spacement-small !important;
}
.dcf-margin-small-bottom {
  margin-bottom: $dcf-spacement-small !important;
}
.dcf-margin-small-left {
  margin-left: $dcf-spacement-small !important;
}
.dcf-margin-small-right {
  margin-right: $dcf-spacement-small !important;
}

.dcf-margin-medium {
  margin-bottom: $dcf-spacement-medium;
}
* + .dcf-margin-medium {
  margin-top: $dcf-spacement-medium !important;
}
.dcf-margin-medium-top {
  margin-top: $dcf-spacement-medium !important;
}
.dcf-margin-medium-bottom {
  margin-bottom: $dcf-spacement-medium !important;
}
.dcf-margin-medium-left {
  margin-left: $dcf-spacement-medium !important;
}
.dcf-margin-medium-right {
  margin-right: $dcf-spacement-medium !important;
}

.dcf-margin-large {
  margin-bottom: $dcf-spacement-large;
}
* + .dcf-margin-large {
  margin-top: $dcf-spacement-large !important;
}
.dcf-margin-large-top {
  margin-top: $dcf-spacement-large !important;
}
.dcf-margin-large-bottom {
  margin-bottom: $dcf-spacement-large !important;
}
.dcf-margin-large-left {
  margin-left: $dcf-spacement-large !important;
}
.dcf-margin-large-right {
  margin-right: $dcf-spacement-large !important;
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-large {
    margin-bottom: $dcf-spacement-xlarge;
  }
  * + .dcf-margin-large {
    margin-top: $dcf-spacement-xlarge !important;
  }
  .dcf-margin-large-top {
    margin-top: $dcf-spacement-xlarge !important;
  }
  .dcf-margin-large-bottom {
    margin-bottom: $dcf-spacement-xlarge !important;
  }
  .dcf-margin-large-left {
    margin-left: $dcf-spacement-xlarge !important;
  }
  .dcf-margin-large-right {
    margin-right: $dcf-spacement-xlarge !important;
  }
}

.dcf-margin-xlarge {
  margin-bottom: $dcf-spacement-2xlarge;
}
* + .dcf-margin-xlarge {
  margin-top: $dcf-spacement-2xlarge !important;
}
.dcf-margin-xlarge-top {
  margin-top: $dcf-spacement-2xlarge !important;
}
.dcf-margin-xlarge-bottom {
  margin-bottom: $dcf-spacement-2xlarge !important;
}
.dcf-margin-xlarge-left {
  margin-left: $dcf-spacement-2xlarge !important;
}
.dcf-margin-xlarge-right {
  margin-right: $dcf-spacement-2xlarge !important;
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-xlarge {
    margin-bottom: $dcf-spacement-2xlarge;
  }
  * + .dcf-margin-xlarge {
    margin-top: $dcf-spacement-2xlarge !important;
  }
  .dcf-margin-xlarge-top {
    margin-top: $dcf-spacement-2xlarge !important;
  }
  .dcf-margin-xlarge-bottom {
    margin-bottom: $dcf-spacement-2xlarge !important;
  }
  .dcf-margin-xlarge-left {
    margin-left: $dcf-spacement-2xlarge !important;
  }
  .dcf-margin-xlarge-right {
    margin-right: $dcf-spacement-2xlarge !important;
  }
}

.dcf-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.dcf-margin-auto-top {
  margin-top: auto !important;
}
.dcf-margin-auto-bottom {
  margin-bottom: auto !important;
}
.dcf-margin-auto-left {
  margin-left: auto !important;
}
.dcf-margin-auto-right {
  margin-right: auto !important;
}
.dcf-margin-auto-vertical {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@media (min-width: $dcf-width-s) {
  .dcf-margin-auto\@s {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@s {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@s {
    margin-right: auto !important;
  }
}

@media (min-width: $dcf-width-m) {
  .dcf-margin-auto\@m {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@m {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@m {
    margin-right: auto !important;
  }
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-auto\@l {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@l {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@l {
    margin-right: auto !important;
  }
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-auto\@xl {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@xl {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@xl {
    margin-right: auto !important;
  }
}

.dcf-margin-remove {
  margin: 0 !important;
}
.dcf-margin-remove-top {
  margin-top: 0 !important;
}
.dcf-margin-remove-bottom {
  margin-bottom: 0 !important;
}
.dcf-margin-remove-left {
  margin-left: 0 !important;
}
.dcf-margin-remove-right {
  margin-right: 0 !important;
}
.dcf-margin-remove-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.dcf-margin-remove-adjacent + *,
.dcf-margin-remove-first-child > :first-child {
  margin-top: 0 !important;
}
.dcf-margin-remove-last-child > :last-child {
  margin-bottom: 0 !important;
}

@media (min-width: $dcf-width-s) {
  .dcf-margin-remove-left\@s {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@s {
    margin-right: 0 !important;
  }
}

@media (min-width: $dcf-width-m) {
  .dcf-margin-remove-left\@m {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@m {
    margin-right: 0 !important;
  }
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-remove-left\@l {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@l {
    margin-right: 0 !important;
  }
}

@media (min-width: $dcf-width-xl) {
  .dcf-margin-remove-left\@xl {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@xl {
    margin-right: 0 !important;
  }
}

.dcf-padding {
  padding: $dcf-spacement-medium;
}

@media (min-width: $dcf-width-xl) {
  .dcf-padding {
    padding: $dcf-spacement-large;
  }
}

@media (min-width: $dcf-width-2xl) {
  .dcf-padding {
    padding: $dcf-spacement-large + $dcf-spacement-medium;
  }
}

.dcf-padding-xsmall {
  padding: $dcf-spacement-small;
}

.dcf-padding-small {
  padding: $dcf-spacement-small + $dcf-spacement-xsmall;
}
.dcf-padding-large {
  padding: $dcf-spacement-large;
}

.dcf-padding-xlarge {
  padding: $dcf-spacement-xlarge;
}

.dcf-padding-2xlarge {
  padding: $dcf-spacement-2xlarge;
}

@media (min-width: $dcf-width-xl) {
  .dcf-padding-large {
    padding: $dcf-spacement-xlarge;
  }
}

@media (min-width: $dcf-width-xl) {
  .dcf-padding-large {
    padding: $dcf-spacement-xlarge + $dcf-spacement-medium;
  }
}

.dcf-padding-remove {
  padding: 0 !important;
}
.dcf-padding-remove-top {
  padding-top: 0 !important;
}
.dcf-padding-remove-bottom {
  padding-bottom: 0 !important;
}
.dcf-padding-remove-left {
  padding-left: 0 !important;
}
.dcf-padding-remove-right {
  padding-right: 0 !important;
}
.dcf-padding-remove-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dcf-padding-remove-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
