@use "components/variables/decaf.scss" as *;
@use "components/base.scss" as base;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..900;1,14..32,400..900&display=swap");

:root {
  --dcf-default-dynamic-font: "Inter", sans-serif;
  --dcf-input-fill-background: #ffffff;
  --dcf-card-background: #fff;
  --dcf-content-background: var(--dcf-color-gray-1);

  // base text color
  --dcf-text-color: #{$text-color};

  // sizes / widths
  --dcf-width-s: #{$dcf-width-s};
  --dcf-width-m: #{$dcf-width-m};
  --dcf-width-l: #{$dcf-width-l};
  --dcf-width-xl: #{$dcf-width-xl};

  // border radius
  --dcf-border-radius: #{$border-radius};
  --dcf-border-radius-xsmall: #{$border-radius-xsmall};
  --dcf-border-radius-small: #{$border-radius-small};
  --dcf-border-radius-large: #{$border-radius-large};

  --dcf-spacement: #{$dcf-spacement};
  --dcf-spacement-xsmall: #{$dcf-spacement-xsmall};
  --dcf-spacement-small: #{$dcf-spacement-small};
  --dcf-spacement-medium: #{$dcf-spacement-medium};
  --dcf-spacement-large: #{$dcf-spacement-large};
  --dcf-spacement-xlarge: #{$dcf-spacement-xlarge};
  --dcf-spacement-2xlarge: #{$dcf-spacement-2xlarge};

  // margins
  --dcf-margin: #{$dcf-spacement};
  --dcf-margin-xsmall: #{$dcf-spacement-xsmall};
  --dcf-margin-small: #{$dcf-spacement-small};
  --dcf-margin-medium: #{$dcf-spacement-medium};
  --dcf-margin-large: #{$dcf-spacement-large};
  --dcf-margin-xlarge: #{$dcf-spacement-xlarge};
  --dcf-margin-2xlarge: #{$dcf-spacement-2xlarge};

  // paddings
  --dcf-padding: #{$dcf-spacement-medium};
  --dcf-padding-xsmall: #{$dcf-spacement-small};
  --dcf-padding-small: #{$dcf-spacement-small + $dcf-spacement-xsmall};
  --dcf-padding-medium: #{$dcf-spacement-medium};
  --dcf-padding-large: #{$dcf-spacement-large};
  --dcf-padding-xlarge: #{$dcf-spacement-xlarge};
  --dcf-padding-2xlarge: #{$dcf-spacement-2xlarge};

  // utilitys
  --dcf-box-shadow: #{$box-shadow};
  --dcf-box-shadow-small: #{$box-shadow-small};
  --dcf-box-shadow-medium: #{$box-shadow-medium};
  --dcf-box-shadow-large: #{$box-shadow-large};
  --dcf-box-shadow-xlarge: #{$box-shadow-xlarge};
  // colors
  --dcf-color-primary: #3460dc;
  --dcf-color-primary-rgb: 52, 96, 220;
  --dcf-color-primary-contrast: #ffffff;
  --dcf-color-primary-contrast-rgb: 255, 255, 255;
  --dcf-color-primary-shade: #2e54c2;
  --dcf-color-primary-tint: #4870e0;

  --dcf-color-secondary-rgb: 72, 65, 128;
  --dcf-color-secondary-contrast: #ffffff;
  --dcf-color-secondary-contrast-rgb: 255, 255, 255;
  --dcf-color-secondary-shade: #3f3971;
  --dcf-color-secondary-tint: #5a548d;

  --dcf-color-tertiary: #6030ff;
  --dcf-color-tertiary-rgb: 96, 48, 255;
  --dcf-color-tertiary-contrast: #ffffff;
  --dcf-color-tertiary-contrast-rgb: 255, 255, 255;
  --dcf-color-tertiary-shade: #542ae0;
  --dcf-color-tertiary-tint: #7045ff;

  --dcf-color-success: #2dd55b;
  --dcf-color-success-rgb: 45, 213, 91;
  --dcf-color-success-contrast: #000000;
  --dcf-color-success-contrast-rgb: 0, 0, 0;
  --dcf-color-success-shade: #28bb50;
  --dcf-color-success-tint: #42d96b;

  --dcf-color-warning: #ffc409;
  --dcf-color-warning-rgb: 255, 196, 9;
  --dcf-color-warning-contrast: #000000;
  --dcf-color-warning-contrast-rgb: 0, 0, 0;
  --dcf-color-warning-shade: #e0ac08;
  --dcf-color-warning-tint: #ffca22;

  --dcf-color-danger: #c5000f;
  --dcf-color-danger-rgb: 197, 0, 15;
  --dcf-color-danger-contrast: #ffffff;
  --dcf-color-danger-contrast-rgb: 255, 255, 255;
  --dcf-color-danger-shade: #ad000d;
  --dcf-color-danger-tint: #cb1a27;

  --dcf-color-light: #f5f5f5;
  --dcf-color-light-rgb: 242, 244, 247;
  --dcf-color-light-contrast: #000000;
  --dcf-color-light-contrast-rgb: 0, 0, 0;
  --dcf-color-light-shade: #d5d7da;
  --dcf-color-light-tint: #f9fafb;

  --dcf-color-medium: #535862;
  --dcf-color-medium-rgb: 102, 112, 133;
  --dcf-color-medium-contrast: #000000;
  --dcf-color-medium-contrast-rgb: 0, 0, 0;
  --dcf-color-medium-shade: #475467;
  --dcf-color-medium-tint: #98a2b3;

  --dcf-color-dark: #182230;
  --dcf-color-dark-rgb: 24, 34, 48;
  --dcf-color-dark-contrast: #ffffff;
  --dcf-color-dark-contrast-rgb: 255, 255, 255;
  --dcf-color-dark-shade: #101828;
  --dcf-color-dark-tint: #414651;

  --dcf-color-gray-0: #f9fafb;
  --dcf-color-gray-1: #f5f5f5;
  --dcf-color-gray-2: #e9eaeb;
  --dcf-color-gray-3: #d5d7da;
  --dcf-color-gray-4: #98a2b3;
  --dcf-color-gray-5: #535862;
  --dcf-color-gray-6: #475467;
  --dcf-color-gray-7: #414651;
  --dcf-color-gray-8: #182230;
  --dcf-color-gray-9: #101828;
  --dcf-color-gray-10: #0c111d;
}

.dcf-palette-dark {
  --dcf-content-background: transparent;
  --dcf-input-fill-background: var(--dcf-color-step-100);
  --dcf-text-color: #ffffff;

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  &.ios body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-color-step-50: #0d0d0d;
    --dcf-color-step-100: #1a1a1a;
    --dcf-color-step-150: #262626;
    --dcf-color-step-200: #333333;
    --dcf-color-step-250: #404040;
    --dcf-color-step-300: #4d4d4d;
    --dcf-color-step-350: #595959;
    --dcf-color-step-400: #666666;
    --dcf-color-step-450: #737373;
    --dcf-color-step-500: #808080;
    --dcf-color-step-550: #8c8c8c;
    --dcf-color-step-600: #999999;
    --dcf-color-step-650: #a6a6a6;
    --dcf-color-step-700: #b3b3b3;
    --dcf-color-step-750: #bfbfbf;
    --dcf-color-step-800: #cccccc;
    --dcf-color-step-850: #d9d9d9;
    --dcf-color-step-900: #e6e6e6;
    --dcf-color-step-950: #f2f2f2;
    --dcf-item-background: #2f3349;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }
  &.ios ion-modal {
    --dcf-background-color: var(--dcf-color-step-100);
    --dcf-toolbar-background: var(--dcf-color-step-150);
    --dcf-toolbar-border-color: var(--dcf-color-step-250);
  }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  &.md body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-border-color: #222222;
    --dcf-color-step-50: #2f3349;
    --dcf-color-step-100: #2a2a2a;
    --dcf-color-step-150: #363636;
    --dcf-color-step-200: #414141;
    --dcf-color-step-250: #4d4d4d;
    --dcf-color-step-300: #595959;
    --dcf-color-step-350: #656565;
    --dcf-color-step-400: #717171;
    --dcf-color-step-450: #7d7d7d;
    --dcf-color-step-500: #898989;
    --dcf-color-step-550: #949494;
    --dcf-color-step-600: #a0a0a0;
    --dcf-color-step-650: #acacac;
    --dcf-color-step-700: #b8b8b8;
    --dcf-color-step-750: #c4c4c4;
    --dcf-color-step-800: #d0d0d0;
    --dcf-color-step-850: #dbdbdb;
    --dcf-color-step-900: #e7e7e7;
    --dcf-color-step-950: #f3f3f3;
    --dcf-item-background: #2f3349;
    --dcf-toolbar-background: #2f3349;
    --dcf-tab-bar-background: #31354d;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }
}

// Ionic variable overrides

html {
  --dcf-dynamic-font: var(--dcf-default-dynamic-font);
  // color: var(--dcf-text-color);
}

ion-card {
  color: var(--dcf-text-color);
}

// dark theme changes
.dcf-palette-dark {
  ion-select,
  ion-textarea,
  ion-radio-group,
  ion-input {
    --placeholder-color: var(--dcf-color-gray-1) !important;
    ion-label,
    label,
    &::part(label) {
      color: var(--dcf-color-gray-3) !important;
    }
    // figma
    &:not(:hover) {
      --border-color: var(--dcf-color-step-500) !important;
    }
  }

  // ion-card {
  //   &.dcf-card-default {
  //     border-color: var(--dcf-card-background);
  //     // @media (prefers-color-scheme: dark) { border: 1px solid var(--dcf-color-gray-7); }
  //   }
  // }
  ion-select::part(text) {
    color: var(--dcf-color-gray-2);
  }

  .dcf-icon {
    ion-icon {
      color: var(--dcf-text-color) !important;
    }

    svg {
      fill: var(--dcf-text-color);
      fill-opacity: 0.25 !important;
      stroke: var(--dcf-text-color) !important;
      * {
        fill: var(--dcf-color-primary) !important;
        stroke: var(--dcf-color-gray-1) !important;
      }
    }
  }

  * {
    scrollbar-color: var(--dcf-color-dark) transparent;
  }
  ion-content {
    scrollbar-color: var(--dcf-card-background) transparent;
  }
}

html:not(.dcf-palette-dark) {
  /* Firefox */
  * {
    &:hover {
      scrollbar-color: var(--dcf-color-gray-2) transparent !important;
    }
    &:not(:hover) {
      scrollbar-color: transparent !important;
    }
    // auto | thin | none
    scrollbar-width: thin !important; /*  */
    // thumb track
    scrollbar-color: var(--dcf-color-gray-4) transparent;
  }

  ion-content {
    scrollbar-color: var(--dcf-card-background) transparent;
  }

  // Chrome, Edge, Safari (WebKit)
  ::-webkit-scrollbar {
    // vertical thickness
    width: 8px;
    // horizontal thickness
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    // 1 - creates visual space (padding)
    border: 2px solid transparent;
    // 2 makes the transparent border create a "gap"
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
