// Made based on https://cdnjs.cloudflare.com/ajax/libs/uikit/3.22.1/css/uikit.css
@use "components/variables/decaf.scss" as *;
@forward "core.scss";
@forward "components/grid.scss";
@forward "components/flex.scss";
@forward "components/spacement.scss";
@forward "components/visibility.scss";
@forward "components/animations.scss";
@forward "components/variables/ionic.scss";

// ionic fixes
ion-app {
  // fix for floating labels
  .input-label-placement-floating {
    label {
      line-height: 1.2rem !important;
    }
  }
  // ion-select {
  //   &.select-fill-outline {
  //     --border-radius: var(--dcf-border-radius);
  //   }
  // }
  // ion-select.select-label-placement-floating::part(label) {
  //   line-height: 1.2rem !important;
  // }

  // fix to hide placeholder when select is invalid and focused
  // ion-select.ng-invalid.has-focus::part(placeholder) {
  //   display: none !important;
  // }

  ion-select {
    &.ng-invalid.has-focus::part(placeholder) {
      display: none !important;
    }

    &.select-fill-outline {
      --border-radius: var(--dcf-border-radius);
    }

    &::part(error-text) {
      margin-left: -1rem !important;
      height: 0px;
      padding: 0px;
    }
    &.select-label-placement-floating::part(label) {
      line-height: 1.2rem !important;
    }
    &::part(text) {
      text-transform: capitalize;
      color: var(--dcf-color-gray-7);
      font-weight: 500;
    }
  }

  ion-select,
  ion-textarea,
  ion-radio-group,
  ion-input {
    --border-radius: var(--dcf-border-radius) !important;
    &::part(label) {
      font-weight: 500;
    }

    --border-color: var(--dcf-color-gray-3) !important;
    ion-label,
    label,
    &::part(label) {
      color: var(--dcf-color-gray-7) !important;
    }
    // @media (prefers-color-scheme: light) {
    //   --border-color: var(--dcf-color-gray-3) !important;
    //   ion-label,
    //   label,
    //   &::part(label) {
    //     color: var(--dcf-color-gray-7) !important;
    //   }
    // }

    // @media (prefers-color-scheme: dark) {
    //   --placeholder-color: var(--dcf-color-gray-1) !important;
    //   ion-label,
    //   label,
    //   &::part(label) {
    //     color: var(--dcf-color-gray-3) !important;
    //   }
    //   // figma
    //   &:not(:hover) {
    //     --border-color: var(--dcf-color-step-500) !important;
    //   }
    // }
  }

  .alert-radio-label,
  .alert-checkbox-label,
  .select-interface-option,
  ion-select::part(text) {
    text-transform: capitalize;
  }

  // ***** Figma
  ion-popover::part(content) {
    border-radius: var(--dcf-border-radius);
    border: 1px solid var(--dcf-color-gray-3);
    box-shadow:
      0px 12px 16px -4px rgba(10, 13, 18, 0.08),
      0px 4px 6px -2px rgba(10, 13, 18, 0.03),
      0px 2px 2px -1px rgba(10, 13, 18, 0.04);
  }
  ion-button {
    &:not(.button-round) {
      --border-radius: var(--dcf-border-radius);
    }
  }

  ion-searchbar.dcf-searchbar {
    --background: transparent;
    .searchbar-input {
      border: 1px solid var(--dcf-color-gray-3) !important;
      min-height: 40px;
      box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
      border-radius: var(--dcf-border-radius);
    }
  }

  // ion-card {
  //   ngx-decaf-empty-state ion-card {
  //     box-shadow: none;
  //   }
  // }

  // ion-card {
  //   &.dcf-card-default {
  //     box-shadow: none;
  //     ion-card-title {
  //       padding: $dcf-spacement $dcf-spacement 0rem $dcf-spacement !important;
  //     }

  //     ion-card-header + ion-card-content {
  //       margin-top: 0.5rem;
  //     }

  //     ion-card-content {
  //       margin-top: $dcf-spacement;
  //     }
  //     border: 1px solid var(--dcf-color-gray-2);
  //     // @media (prefers-color-scheme: light) {
  //     //   border: 1px solid var(--dcf-color-gray-2);
  //     // }
  //     // @media (prefers-color-scheme: dark) { border: 1px solid var(--dcf-color-gray-7); }
  //   }
  // }
}

// fixes for model rederer component in grid
// .dcf-grid.dcf-model-renderer-component {
//   ngx-decaf-crud-field {
//       > .dcf-input-item {
//           width: 100% !important;
//       }
//     }
//     ngx-decaf-component-renderer {
//       width: 100% !important;
//       margin-bottom: 2.75rem;
//       margin-top: -1rem;
//       margin-left: -2px;

//       .dcf-fieldset {
//         &.read, &.delete {
//           margin-top: 2.25rem !important;
//         }
//       }
//     }
// }

// stepped form customizations
// ngx-decaf-stepped-form .dcf-single-step {
//   ngx-decaf-fieldset .dcf-fieldset {
//     margin-top: .5rem !important;
//     margin-bottom: 2rem;
//   }
// }

// Fieldset component customizations
ngx-decaf-fieldset {
  ion-accordion {
    ion-item[slot="header"] {
      &.disable-collapse {
        cursor: text;
        .ion-accordion-toggle-icon {
          display: none;
        }
        * {
          pointer-events: none !important;
          touch-action: none !important;
          cursor: text;
        }
      }
    }
  }
  // fieldset inside fieldset
  &.dcf-fieldset .dcf-fieldset {
    margin-top: $dcf-spacement-medium + $dcf-spacement-xsmall !important;
  }
}

// crud field component global customizations
ngx-decaf-crud-field {
  > .dcf-input-item {
    width: 100% !important;
  }
  // change border color on invalid
  .ng-invalid.ng-touched {
    --border-color: var(--dcf-color-danger) !important;
  }
}

a {
  // @media (prefers-color-scheme: light) {
  //   color: var(--dcf-color-dark);
  // }
  color: var(--dcf-color-primary-shade);
  font-weight: 500;
}

// remove auto fill background

input,
select,
textarea {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-webkit-autofill {
    border: none !important;
    -webkit-text-fill-color: var(--dcf-color-primary) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--dcf-input-fill-background) inset;
    box-shadow: 0 0 0px 1000px var(--dcf-input-fill-background) inset;
    -webkit-transition: -webkit-box-shadow 50s ease-in-out;
    transition: box-shadow 50s ease-in-out;
  }
}

// fix - ionic error text element

* {
  .select-bottom,
  .textarea-bottom,
  .input-bottom {
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  &:not(.ng-untouched) {
    + .dcf-error,
    .input-bottom {
      display: none;
    }
  }

  &.ng-touched {
    + .dcf-error,
    .input-bottom {
      display: block;
    }
  }
  .dcf-error,
  .error-text,
  ::part(error-text),
  &::part(error-text) {
    margin-top: 0.25rem !important;
    animation-duration: 0.05s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeBottomSmallAnimation;
    font-weight: 500;
  }
}

.dcf-hidden {
  display: none !important;
}

.dcf-invisible {
  visibility: hidden;
}

.dcf-box-shadow-remove {
  box-shadow: none;
}

@mixin touch-disabled {
  pointer-events: none;
  touch-action: none;
  cursor: text;
  * {
    pointer-events: none;
    touch-action: none;
    cursor: text;
  }
}

.dcf-disabled {
  opacity: 0.7;
  @include touch-disabled;
}

.dcf-touch-disabled {
  @include touch-disabled;
}

@keyframes fadeBottomSmallAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// TODO: Fixes on grid
// @media (max-width: $dcf-width-s) {
//   .dcf-grid-small,
//   .dcf-grid-column-small {
//     margin-left: 0 !important;
//   }
//   .dcf-grid-small > *,
//   .dcf-grid-column-small > * {
//     padding-left: 0 !important;
//   }
// }
