@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..900;1,14..32,400..900&display=swap");
/**
  xs	0px (xsmall)
  sm	576px (small)
  md	768px (medium)
  lg	992px (large)
  xl	1200px (xlarge)

*/
:root {
  --dcf-default-dynamic-font: "Inter", sans-serif;
  --dcf-border-radius: 8px;
  --dcf-width-s: 576px;
  --dcf-width-m: 768px;
  --dcf-width-l: 992px;
  --dcf-width-xl: 1200px;
  --dcf-color-primary: #3460DC;
  --dcf-color-primary-rgb: 52,96,220;
  --dcf-color-primary-contrast: #ffffff;
  --dcf-color-primary-contrast-rgb: 255,255,255;
  --dcf-color-primary-shade: #2e54c2;
  --dcf-color-primary-tint: #4870e0;
  --dcf-color-secondary: #484180;
  --dcf-color-secondary-rgb: 72,65,128;
  --dcf-color-secondary-contrast: #ffffff;
  --dcf-color-secondary-contrast-rgb: 255,255,255;
  --dcf-color-secondary-shade: #3f3971;
  --dcf-color-secondary-tint: #5a548d;
  --dcf-color-tertiary: #6030ff;
  --dcf-color-tertiary-rgb: 96,48,255;
  --dcf-color-tertiary-contrast: #ffffff;
  --dcf-color-tertiary-contrast-rgb: 255,255,255;
  --dcf-color-tertiary-shade: #542ae0;
  --dcf-color-tertiary-tint: #7045ff;
  --dcf-color-success: #2dd55b;
  --dcf-color-success-rgb: 45,213,91;
  --dcf-color-success-contrast: #000000;
  --dcf-color-success-contrast-rgb: 0,0,0;
  --dcf-color-success-shade: #28bb50;
  --dcf-color-success-tint: #42d96b;
  --dcf-color-warning: #ffc409;
  --dcf-color-warning-rgb: 255,196,9;
  --dcf-color-warning-contrast: #000000;
  --dcf-color-warning-contrast-rgb: 0,0,0;
  --dcf-color-warning-shade: #e0ac08;
  --dcf-color-warning-tint: #ffca22;
  --dcf-color-danger: #c5000f;
  --dcf-color-danger-rgb: 197,0,15;
  --dcf-color-danger-contrast: #ffffff;
  --dcf-color-danger-contrast-rgb: 255,255,255;
  --dcf-color-danger-shade: #ad000d;
  --dcf-color-danger-tint: #cb1a27;
  --dcf-color-light: #f5f5f5;
  --dcf-color-light-rgb: 242,244,247;
  --dcf-color-light-contrast: #000000;
  --dcf-color-light-contrast-rgb: 0,0,0;
  --dcf-color-light-shade: #D5D7DA;
  --dcf-color-light-tint: #F9FAFB;
  --dcf-color-medium: #535862;
  --dcf-color-medium-rgb: 102,112,133;
  --dcf-color-medium-contrast: #000000;
  --dcf-color-medium-contrast-rgb: 0,0,0;
  --dcf-color-medium-shade: #475467;
  --dcf-color-medium-tint: #98A2B3;
  --dcf-color-dark: #182230;
  --dcf-color-dark-rgb: 24,34,48;
  --dcf-color-dark-contrast: #ffffff;
  --dcf-color-dark-contrast-rgb: 255,255,255;
  --dcf-color-dark-shade: #101828;
  --dcf-color-dark-tint: #414651;
  --dcf-color-gray-0: #F9FAFB;
  --dcf-color-gray-1: #f5f5f5;
  --dcf-color-gray-2: #E9EAEB;
  --dcf-color-gray-3: #D5D7DA;
  --dcf-color-gray-4: #98A2B3;
  --dcf-color-gray-5: #535862;
  --dcf-color-gray-6: #475467;
  --dcf-color-gray-7: #414651;
  --dcf-color-gray-8: #182230;
  --dcf-color-gray-9: #101828;
  --dcf-color-gray-10: #0C111D;
  --dcf-color-gray-0: #F9FAFB;
  --dcf-color-gray-1: #f5f5f5;
  --dcf-color-gray-2: #E9EAEB;
  --dcf-color-gray-3: #D5D7DA;
  --dcf-color-gray-4: #98A2B3;
  --dcf-color-gray-5: #535862;
  --dcf-color-gray-6: #475467;
  --dcf-color-gray-7: #414651;
  --dcf-color-gray-8: #182230;
  --dcf-color-gray-9: #101828;
  --dcf-color-gray-10: #0C111D;
}

@media (prefers-color-scheme: gray) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --dcf-color-primary: #5B8FFF;
    --dcf-color-primary-rgb: 91,143,255;
    --dcf-color-primary-contrast: #000000;
    --dcf-color-primary-contrast-rgb: 0,0,0;
    --dcf-color-primary-shade: #4F7DE0;
    --dcf-color-primary-tint: #6C9BFF;
    --dcf-color-secondary: #6B5FBD;
    --dcf-color-secondary-rgb: 107,95,189;
    --dcf-color-secondary-contrast: #FFFFFF;
    --dcf-color-secondary-contrast-rgb: 255,255,255;
    --dcf-color-secondary-shade: #5E54A5;
    --dcf-color-secondary-tint: #7A6FC4;
    --dcf-color-tertiary: #8A57FF;
    --dcf-color-tertiary-rgb: 138,87,255;
    --dcf-color-tertiary-contrast: #000000;
    --dcf-color-tertiary-contrast-rgb: 0,0,0;
    --dcf-color-tertiary-shade: #794DE0;
    --dcf-color-tertiary-tint: #9768FF;
    --dcf-color-success: #4AE574;
    --dcf-color-success-rgb: 74,229,116;
    --dcf-color-success-contrast: #000000;
    --dcf-color-success-contrast-rgb: 0,0,0;
    --dcf-color-success-shade: #41CA67;
    --dcf-color-success-tint: #5CE882;
    --dcf-color-warning: #FFD23D;
    --dcf-color-warning-rgb: 255,210,61;
    --dcf-color-warning-contrast: #000000;
    --dcf-color-warning-contrast-rgb: 0,0,0;
    --dcf-color-warning-shade: #E0B936;
    --dcf-color-warning-tint: #FFD750;
    --dcf-color-danger: #FF6B7A;
    --dcf-color-danger-rgb: 255,107,122;
    --dcf-color-danger-contrast: #000000;
    --dcf-color-danger-contrast-rgb: 0,0,0;
    --dcf-color-danger-shade: #E05E6B;
    --dcf-color-danger-tint: #FF7A87;
    --dcf-color-dark: #0C111D;
    --dcf-color-dark-rgb: 12,17,29;
    --dcf-color-dark-contrast: #ffffff;
    --dcf-color-dark-contrast-rgb: 255,255,255;
    --dcf-color-dark-shade: #0A0F1A;
    --dcf-color-dark-tint: #24293A;
    --dcf-color-medium: #98A2B3;
    --dcf-color-medium-rgb: 152,162,179;
    --dcf-color-medium-contrast: #000000;
    --dcf-color-medium-contrast-rgb: 0,0,0;
    --dcf-color-medium-shade: #868F9E;
    --dcf-color-medium-tint: #A2ABBB;
    --dcf-color-light: #F9FAFB;
    --dcf-color-light-rgb: 249,250,251;
    --dcf-color-light-contrast: #000000;
    --dcf-color-light-contrast-rgb: 0,0,0;
    --dcf-color-light-shade: #DDE0E2;
    --dcf-color-light-tint: #FAFBFC;
  }
}
html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --dcf-dynamic-font: var(--dcf-default-dynamic-font);
}

html, body, * {
  font-family: var(--dcf-font-family);
  font-style: normal;
}
html .input-label-placement-floating label, body .input-label-placement-floating label, * .input-label-placement-floating label {
  line-height: 1.2rem !important;
}

.dcf-fieldset .dcf-fieldset {
  margin-top: 2.25rem !important;
  border: 1px solid red;
}

a {
  color: var(--dcf-color-dark);
  font-weight: 500;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
select:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill {
  border: none !important;
  -webkit-text-fill-color: var(--dcf-color-primary) !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  box-shadow: 0 0 0px 1000px #FFFFFF inset;
  -webkit-transition: box-shadow 50s ease-in-out;
  transition: box-shadow 50s ease-in-out;
}

*:not(.ng-untouched) .input-bottom {
  display: none;
}
*.ng-touched .input-bottom {
  display: block;
  margin-bottom: -1rem !important;
  padding-left: 0px !important;
}
*.ng-touched .error-text {
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeBottomSmallAnimation;
  font-weight: 600;
}

.dcf-hidden {
  display: none !important;
}

.dcf-invisible {
  visibility: hidden;
}

.dcf-box-shadow-remove {
  box-shadow: none;
}

.dcf-disabled {
  opacity: 0.7;
  pointer-events: none;
  touch-action: none;
}
.dcf-disabled * {
  pointer-events: none;
  touch-action: none;
}

/* ========================================================================
   Component: Margin
 ========================================================================== */
/*
 * Default
 */
.dcf-margin {
  margin-bottom: 20px;
}

* + .dcf-margin {
  margin-top: 20px !important;
}

.dcf-margin-top {
  margin-top: 20px !important;
}

.dcf-margin-bottom {
  margin-bottom: 20px !important;
}

.dcf-margin-left {
  margin-left: 20px !important;
}

.dcf-margin-right {
  margin-right: 20px !important;
}

/* XSmall
 ========================================================================== */
.dcf-margin-xsmall {
  margin-bottom: 5px;
}

* + .dcf-margin-xsmall {
  margin-top: 5px !important;
}

.dcf-margin-xsmall-top {
  margin-top: 5px !important;
}

.dcf-margin-xsmall-bottom {
  margin-bottom: 5px !important;
}

.dcf-margin-xsmall-left {
  margin-left: 5px !important;
}

.dcf-margin-xsmall-right {
  margin-right: 5px !important;
}

/* Small
 ========================================================================== */
.dcf-margin-small {
  margin-bottom: 10px;
}

* + .dcf-margin-small {
  margin-top: 10px !important;
}

.dcf-margin-small-top {
  margin-top: 10px !important;
}

.dcf-margin-small-bottom {
  margin-bottom: 10px !important;
}

.dcf-margin-small-left {
  margin-left: 10px !important;
}

.dcf-margin-small-right {
  margin-right: 10px !important;
}

/* Medium
 ========================================================================== */
.dcf-margin-medium {
  margin-bottom: 40px;
}

* + .dcf-margin-medium {
  margin-top: 40px !important;
}

.dcf-margin-medium-top {
  margin-top: 40px !important;
}

.dcf-margin-medium-bottom {
  margin-bottom: 40px !important;
}

.dcf-margin-medium-left {
  margin-left: 40px !important;
}

.dcf-margin-medium-right {
  margin-right: 40px !important;
}

/* Large
 ========================================================================== */
.dcf-margin-large {
  margin-bottom: 40px;
}

* + .dcf-margin-large {
  margin-top: 40px !important;
}

.dcf-margin-large-top {
  margin-top: 40px !important;
}

.dcf-margin-large-bottom {
  margin-bottom: 40px !important;
}

.dcf-margin-large-left {
  margin-left: 40px !important;
}

.dcf-margin-large-right {
  margin-right: 40px !important;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-large {
    margin-bottom: 70px;
  }
  * + .dcf-margin-large {
    margin-top: 70px !important;
  }
  .dcf-margin-large-top {
    margin-top: 70px !important;
  }
  .dcf-margin-large-bottom {
    margin-bottom: 70px !important;
  }
  .dcf-margin-large-left {
    margin-left: 70px !important;
  }
  .dcf-margin-large-right {
    margin-right: 70px !important;
  }
}
/* XLarge
 ========================================================================== */
.dcf-margin-xlarge {
  margin-bottom: 70px;
}

* + .dcf-margin-xlarge {
  margin-top: 70px !important;
}

.dcf-margin-xlarge-top {
  margin-top: 70px !important;
}

.dcf-margin-xlarge-bottom {
  margin-bottom: 70px !important;
}

.dcf-margin-xlarge-left {
  margin-left: 70px !important;
}

.dcf-margin-xlarge-right {
  margin-right: 70px !important;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-xlarge {
    margin-bottom: 140px;
  }
  * + .dcf-margin-xlarge {
    margin-top: 140px !important;
  }
  .dcf-margin-xlarge-top {
    margin-top: 140px !important;
  }
  .dcf-margin-xlarge-bottom {
    margin-bottom: 140px !important;
  }
  .dcf-margin-xlarge-left {
    margin-left: 140px !important;
  }
  .dcf-margin-xlarge-right {
    margin-right: 140px !important;
  }
}
/* Auto
 ========================================================================== */
.dcf-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.dcf-margin-auto-top {
  margin-top: auto !important;
}

.dcf-margin-auto-bottom {
  margin-bottom: auto !important;
}

.dcf-margin-auto-left {
  margin-left: auto !important;
}

.dcf-margin-auto-right {
  margin-right: auto !important;
}

.dcf-margin-auto-vertical {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-margin-auto\@s {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@s {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@s {
    margin-right: auto !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-margin-auto\@m {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@m {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@m {
    margin-right: auto !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-auto\@l {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@l {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@l {
    margin-right: auto !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-margin-auto\@xl {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .dcf-margin-auto-left\@xl {
    margin-left: auto !important;
  }
  .dcf-margin-auto-right\@xl {
    margin-right: auto !important;
  }
}
/* Remove
 ========================================================================== */
.dcf-margin-remove {
  margin: 0 !important;
}

.dcf-margin-remove-top {
  margin-top: 0 !important;
}

.dcf-margin-remove-bottom {
  margin-bottom: 0 !important;
}

.dcf-margin-remove-left {
  margin-left: 0 !important;
}

.dcf-margin-remove-right {
  margin-right: 0 !important;
}

.dcf-margin-remove-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dcf-margin-remove-adjacent + *,
.dcf-margin-remove-first-child > :first-child {
  margin-top: 0 !important;
}

.dcf-margin-remove-last-child > :last-child {
  margin-bottom: 0 !important;
}

/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-margin-remove-left\@s {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@s {
    margin-right: 0 !important;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-margin-remove-left\@m {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@m {
    margin-right: 0 !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-margin-remove-left\@l {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@l {
    margin-right: 0 !important;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-margin-remove-left\@xl {
    margin-left: 0 !important;
  }
  .dcf-margin-remove-right\@xl {
    margin-right: 0 !important;
  }
}
/* ========================================================================
   Component: Padding
 ========================================================================== */
.dcf-padding {
  padding: 30px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-padding {
    padding: 40px;
  }
}
/* Small
 ========================================================================== */
.dcf-padding-small {
  padding: 15px;
}

/* Large
 ========================================================================== */
.dcf-padding-large {
  padding: 40px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-padding-large {
    padding: 70px;
  }
}
/* Remove
 ========================================================================== */
.dcf-padding-remove {
  padding: 0 !important;
}

.dcf-padding-remove-top {
  padding-top: 0 !important;
}

.dcf-padding-remove-bottom {
  padding-bottom: 0 !important;
}

.dcf-padding-remove-left {
  padding-left: 0 !important;
}

.dcf-padding-remove-right {
  padding-right: 0 !important;
}

.dcf-padding-remove-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dcf-padding-remove-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* ========================================================================
   Component: Width
 ========================================================================== */
/* Equal child widths
 ========================================================================== */
[class*=dcf-child-width] > * {
  box-sizing: border-box;
  width: 100%;
}

.dcf-child-width-1-2 > * {
  width: 50%;
}

.dcf-child-width-1-3 > * {
  width: 33.3333333333%;
}

.dcf-child-width-1-4 > * {
  width: 25%;
}

.dcf-child-width-1-5 > * {
  width: 20%;
}

.dcf-child-width-1-6 > * {
  width: 16.6666666667%;
}

.dcf-child-width-auto > * {
  width: auto;
}

/*
 * 1. Reset the `min-width`, which is set to auto by default, because
 *    flex items won't shrink below their minimum intrinsic content size.
 *    Using `1px` instead of `0`, so items still wrap into the next line,
 *    if they have zero width and padding and the predecessor is 100% wide.
 */
.dcf-child-width-expand > :not([class*=dcf-width]) {
  flex: 1;
  /* 1 */
  min-width: 1px;
}

/* Phone landscape and bigger */
@media (min-width: 572px) {
  .dcf-child-width-1-1\@s > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@s > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@s > * {
    width: 33.3333333333%;
  }
  .dcf-child-width-1-4\@s > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@s > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@s > * {
    width: 16.6666666667%;
  }
  .dcf-child-width-auto\@s > * {
    width: auto;
  }
  .dcf-child-width-expand\@s > :not([class*=dcf-width]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@s > :not([class*=dcf-width]),
  .dcf-child-width-1-2\@s > :not([class*=dcf-width]),
  .dcf-child-width-1-3\@s > :not([class*=dcf-width]),
  .dcf-child-width-1-4\@s > :not([class*=dcf-width]),
  .dcf-child-width-1-5\@s > :not([class*=dcf-width]),
  .dcf-child-width-1-6\@s > :not([class*=dcf-width]),
  .dcf-child-width-auto\@s > :not([class*=dcf-width]) {
    flex: initial;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .dcf-child-width-1-1\@m > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@m > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@m > * {
    width: 33.3333333333%;
  }
  .dcf-child-width-1-4\@m > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@m > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@m > * {
    width: 16.6666666667%;
  }
  .dcf-child-width-auto\@m > * {
    width: auto;
  }
  .dcf-child-width-expand\@m > :not([class*=dcf-width]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@m > :not([class*=dcf-width]),
  .dcf-child-width-1-2\@m > :not([class*=dcf-width]),
  .dcf-child-width-1-3\@m > :not([class*=dcf-width]),
  .dcf-child-width-1-4\@m > :not([class*=dcf-width]),
  .dcf-child-width-1-5\@m > :not([class*=dcf-width]),
  .dcf-child-width-1-6\@m > :not([class*=dcf-width]),
  .dcf-child-width-auto\@m > :not([class*=dcf-width]) {
    flex: initial;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .dcf-child-width-1-1\@l > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@l > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@l > * {
    width: 33.3333333333%;
  }
  .dcf-child-width-1-4\@l > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@l > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@l > * {
    width: 16.6666666667%;
  }
  .dcf-child-width-auto\@l > * {
    width: auto;
  }
  .dcf-child-width-expand\@l > :not([class*=dcf-width]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@l > :not([class*=dcf-width]),
  .dcf-child-width-1-2\@l > :not([class*=dcf-width]),
  .dcf-child-width-1-3\@l > :not([class*=dcf-width]),
  .dcf-child-width-1-4\@l > :not([class*=dcf-width]),
  .dcf-child-width-1-5\@l > :not([class*=dcf-width]),
  .dcf-child-width-1-6\@l > :not([class*=dcf-width]),
  .dcf-child-width-auto\@l > :not([class*=dcf-width]) {
    flex: initial;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .dcf-child-width-1-1\@xl > * {
    width: 100%;
  }
  .dcf-child-width-1-2\@xl > * {
    width: 50%;
  }
  .dcf-child-width-1-3\@xl > * {
    width: 33.3333333333%;
  }
  .dcf-child-width-1-4\@xl > * {
    width: 25%;
  }
  .dcf-child-width-1-5\@xl > * {
    width: 20%;
  }
  .dcf-child-width-1-6\@xl > * {
    width: 16.6666666667%;
  }
  .dcf-child-width-auto\@xl > * {
    width: auto;
  }
  .dcf-child-width-expand\@xl > :not([class*=dcf-width]) {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-child-width-1-1\@xl > :not([class*=dcf-width]),
  .dcf-child-width-1-2\@xl > :not([class*=dcf-width]),
  .dcf-child-width-1-3\@xl > :not([class*=dcf-width]),
  .dcf-child-width-1-4\@xl > :not([class*=dcf-width]),
  .dcf-child-width-1-5\@xl > :not([class*=dcf-width]),
  .dcf-child-width-1-6\@xl > :not([class*=dcf-width]),
  .dcf-child-width-auto\@xl > :not([class*=dcf-width]) {
    flex: initial;
  }
}
/* Single Widths
 ========================================================================== */
/*
 * 1. `max-width` is needed for the pixel-based classes
 */
[class*=dcf-width] {
  box-sizing: border-box;
  width: 100%;
  /* 1 */
  max-width: 100%;
}

/* Halves */
.dcf-width-1-2 {
  width: 50%;
}

/* Thirds */
.dcf-width-1-3 {
  width: 33.3333333333%;
}

.dcf-width-2-3 {
  width: 66.6666666667%;
}

/* Quarters */
.dcf-width-1-4 {
  width: 25%;
}

.dcf-width-3-4 {
  width: 75%;
}

/* Fifths */
.dcf-width-1-5 {
  width: 20%;
}

.dcf-width-2-5 {
  width: 40%;
}

.dcf-width-3-5 {
  width: 60%;
}

.dcf-width-4-5 {
  width: 80%;
}

/* Sixths */
.dcf-width-1-6 {
  width: 16.6666666667%;
}

.dcf-width-5-6 {
  width: 83.3333333333%;
}

/* Pixel */
.dcf-width-small {
  width: 150px;
}

.dcf-width-medium {
  width: 300px;
}

.dcf-width-large {
  width: 450px;
}

.dcf-width-xlarge {
  width: 600px;
}

.dcf-width-2xlarge {
  width: 750px;
}

/* Auto */
.dcf-width-auto {
  width: auto;
}

/* Expand */
.dcf-width-expand {
  flex: 1;
  min-width: 1px;
}

/* Phone landscape and bigger */
@media (min-width: 572px) {
  /* Whole */
  .dcf-width-1-1\@s {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@s {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@s {
    width: 33.3333333333%;
  }
  .dcf-width-2-3\@s {
    width: 66.6666666667%;
  }
  /* Quarters */
  .dcf-width-1-4\@s {
    width: 25%;
  }
  .dcf-width-3-4\@s {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@s {
    width: 20%;
  }
  .dcf-width-2-5\@s {
    width: 40%;
  }
  .dcf-width-3-5\@s {
    width: 60%;
  }
  .dcf-width-4-5\@s {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@s {
    width: 16.6666666667%;
  }
  .dcf-width-5-6\@s {
    width: 83.3333333333%;
  }
  /* Pixel */
  .dcf-width-small\@s {
    width: 150px;
  }
  .dcf-width-medium\@s {
    width: 300px;
  }
  .dcf-width-large\@s {
    width: 450px;
  }
  .dcf-width-xlarge\@s {
    width: 600px;
  }
  .dcf-width-2xlarge\@s {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@s {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@s {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@s,
  .dcf-width-1-2\@s,
  .dcf-width-1-3\@s,
  .dcf-width-2-3\@s,
  .dcf-width-1-4\@s,
  .dcf-width-3-4\@s,
  .dcf-width-1-5\@s,
  .dcf-width-2-5\@s,
  .dcf-width-3-5\@s,
  .dcf-width-4-5\@s,
  .dcf-width-1-6\@s,
  .dcf-width-5-6\@s,
  .dcf-width-small\@s,
  .dcf-width-medium\@s,
  .dcf-width-large\@s,
  .dcf-width-xlarge\@s,
  .dcf-width-2xlarge\@s,
  .dcf-width-auto\@s {
    flex: initial;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  /* Whole */
  .dcf-width-1-1\@m {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@m {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@m {
    width: 33.3333333333%;
  }
  .dcf-width-2-3\@m {
    width: 66.6666666667%;
  }
  /* Quarters */
  .dcf-width-1-4\@m {
    width: 25%;
  }
  .dcf-width-3-4\@m {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@m {
    width: 20%;
  }
  .dcf-width-2-5\@m {
    width: 40%;
  }
  .dcf-width-3-5\@m {
    width: 60%;
  }
  .dcf-width-4-5\@m {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@m {
    width: 16.6666666667%;
  }
  .dcf-width-5-6\@m {
    width: 83.3333333333%;
  }
  /* Pixel */
  .dcf-width-small\@m {
    width: 150px;
  }
  .dcf-width-medium\@m {
    width: 300px;
  }
  .dcf-width-large\@m {
    width: 450px;
  }
  .dcf-width-xlarge\@m {
    width: 600px;
  }
  .dcf-width-2xlarge\@m {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@m {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@m {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@m,
  .dcf-width-1-2\@m,
  .dcf-width-1-3\@m,
  .dcf-width-2-3\@m,
  .dcf-width-1-4\@m,
  .dcf-width-3-4\@m,
  .dcf-width-1-5\@m,
  .dcf-width-2-5\@m,
  .dcf-width-3-5\@m,
  .dcf-width-4-5\@m,
  .dcf-width-1-6\@m,
  .dcf-width-5-6\@m,
  .dcf-width-small\@m,
  .dcf-width-medium\@m,
  .dcf-width-large\@m,
  .dcf-width-xlarge\@m,
  .dcf-width-2xlarge\@m,
  .dcf-width-auto\@m {
    flex: initial;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Whole */
  .dcf-width-1-1\@l {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@l {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@l {
    width: 33.3333333333%;
  }
  .dcf-width-2-3\@l {
    width: 66.6666666667%;
  }
  /* Quarters */
  .dcf-width-1-4\@l {
    width: 25%;
  }
  .dcf-width-3-4\@l {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@l {
    width: 20%;
  }
  .dcf-width-2-5\@l {
    width: 40%;
  }
  .dcf-width-3-5\@l {
    width: 60%;
  }
  .dcf-width-4-5\@l {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@l {
    width: 16.6666666667%;
  }
  .dcf-width-5-6\@l {
    width: 83.3333333333%;
  }
  /* Pixel */
  .dcf-width-small\@l {
    width: 150px;
  }
  .dcf-width-medium\@l {
    width: 300px;
  }
  .dcf-width-large\@l {
    width: 450px;
  }
  .dcf-width-xlarge\@l {
    width: 600px;
  }
  .dcf-width-2xlarge\@l {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@l {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@l {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@l,
  .dcf-width-1-2\@l,
  .dcf-width-1-3\@l,
  .dcf-width-2-3\@l,
  .dcf-width-1-4\@l,
  .dcf-width-3-4\@l,
  .dcf-width-1-5\@l,
  .dcf-width-2-5\@l,
  .dcf-width-3-5\@l,
  .dcf-width-4-5\@l,
  .dcf-width-1-6\@l,
  .dcf-width-5-6\@l,
  .dcf-width-small\@l,
  .dcf-width-medium\@l,
  .dcf-width-large\@l,
  .dcf-width-xlarge\@l,
  .dcf-width-2xlarge\@l,
  .dcf-width-auto\@l {
    flex: initial;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  /* Whole */
  .dcf-width-1-1\@xl {
    width: 100%;
  }
  /* Halves */
  .dcf-width-1-2\@xl {
    width: 50%;
  }
  /* Thirds */
  .dcf-width-1-3\@xl {
    width: 33.3333333333%;
  }
  .dcf-width-2-3\@xl {
    width: 66.6666666667%;
  }
  /* Quarters */
  .dcf-width-1-4\@xl {
    width: 25%;
  }
  .dcf-width-3-4\@xl {
    width: 75%;
  }
  /* Fifths */
  .dcf-width-1-5\@xl {
    width: 20%;
  }
  .dcf-width-2-5\@xl {
    width: 40%;
  }
  .dcf-width-3-5\@xl {
    width: 60%;
  }
  .dcf-width-4-5\@xl {
    width: 80%;
  }
  /* Sixths */
  .dcf-width-1-6\@xl {
    width: 16.6666666667%;
  }
  .dcf-width-5-6\@xl {
    width: 83.3333333333%;
  }
  /* Pixel */
  .dcf-width-small\@xl {
    width: 150px;
  }
  .dcf-width-medium\@xl {
    width: 300px;
  }
  .dcf-width-large\@xl {
    width: 450px;
  }
  .dcf-width-xlarge\@xl {
    width: 600px;
  }
  .dcf-width-2xlarge\@xl {
    width: 750px;
  }
  /* Auto */
  .dcf-width-auto\@xl {
    width: auto;
  }
  /* Expand */
  .dcf-width-expand\@xl {
    flex: 1;
    min-width: 1px;
  }
  /* Reset expand */
  .dcf-width-1-1\@xl,
  .dcf-width-1-2\@xl,
  .dcf-width-1-3\@xl,
  .dcf-width-2-3\@xl,
  .dcf-width-1-4\@xl,
  .dcf-width-3-4\@xl,
  .dcf-width-1-5\@xl,
  .dcf-width-2-5\@xl,
  .dcf-width-3-5\@xl,
  .dcf-width-4-5\@xl,
  .dcf-width-1-6\@xl,
  .dcf-width-5-6\@xl,
  .dcf-width-small\@xl,
  .dcf-width-medium\@xl,
  .dcf-width-large\@xl,
  .dcf-width-xlarge\@xl,
  .dcf-width-2xlarge\@xl,
  .dcf-width-auto\@xl {
    flex: initial;
  }
}
/* Intrinsic Widths
 ========================================================================== */
.dcf-width-max-content {
  width: max-content;
}

.dcf-width-min-content {
  width: min-content;
}

/* ========================================================================
   Component: Height
 ========================================================================== */
[class*=dcf-height] {
  box-sizing: border-box;
}

/*
 * Only works if parent element has a height set
 */
.dcf-height-1-1 {
  height: 100%;
}

/*
 * Useful to create image teasers
 */
.dcf-height-viewport {
  min-height: 100vh;
}

.dcf-height-viewport-2 {
  min-height: 200vh;
}

.dcf-height-viewport-3 {
  min-height: 300vh;
}

.dcf-height-viewport-4 {
  min-height: 400vh;
}

/*
 * Pixel
 * Useful for `overflow: auto`
 */
.dcf-height-small {
  height: 150px;
}

.dcf-height-medium {
  height: 300px;
}

.dcf-height-large {
  height: 450px;
}

.dcf-height-max-small {
  max-height: 150px;
}

.dcf-height-max-medium {
  max-height: 300px;
}

.dcf-height-max-large {
  max-height: 450px;
}

/* ========================================================================
   Component: Text
 ========================================================================== */
/* Style modifiers
 ========================================================================== */
.dcf-text-lead {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--dcf-color-dark-tint);
}

.dcf-text-meta {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--dcf-color-medium);
}

.dcf-text-meta > a {
  color: var(--dcf-color-medium);
}

.dcf-text-meta > a:hover {
  color: var(--dcf-color-medium-shade);
  text-decoration: none;
}

/* Size modifiers
 ========================================================================== */
.dcf-text-small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.dcf-text-large {
  font-size: 1.5rem;
  line-height: 1.5;
}

.dcf-text-default {
  font-size: 16px;
  line-height: 1.5;
}

/* Weight modifier
 ========================================================================== */
.dcf-text-light {
  font-weight: 300;
}

.dcf-text-normal {
  font-weight: 400;
}

.dcf-text-bold {
  font-weight: 700;
}

.dcf-text-lighter {
  font-weight: lighter;
}

.dcf-text-bolder {
  font-weight: bolder;
}

/* Style modifier
 ========================================================================== */
.dcf-text-italic {
  font-style: italic;
}

/* Transform modifier
 ========================================================================== */
.dcf-text-capitalize {
  text-transform: capitalize !important;
}

.dcf-text-uppercase {
  text-transform: uppercase !important;
}

.dcf-text-lowercase {
  text-transform: lowercase !important;
}

/* ========================================================================
   Component: Flex
 ========================================================================== */
.dcf-flex {
  display: flex;
}

.dcf-flex-inline {
  display: inline-flex;
}

/*
 * Remove pseudo elements created by micro clearfix as precaution
 */
.dcf-flex::before,
.dcf-flex::after,
.dcf-flex-inline::before,
.dcf-flex-inline::after {
  display: none;
}

/* Alignment
 ========================================================================== */
/*
 * Align items along the main axis of the current line of the flex container
 * Row: Horizontal
 */
.dcf-flex-left {
  justify-content: flex-start;
}

.dcf-flex-center {
  justify-content: center;
}

.dcf-flex-right {
  justify-content: flex-end;
}

.dcf-flex-between {
  justify-content: space-between;
}

.dcf-flex-around {
  justify-content: space-around;
}

/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-flex-left\@s {
    justify-content: flex-start;
  }
  .dcf-flex-center\@s {
    justify-content: center;
  }
  .dcf-flex-right\@s {
    justify-content: flex-end;
  }
  .dcf-flex-between\@s {
    justify-content: space-between;
  }
  .dcf-flex-around\@s {
    justify-content: space-around;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 768px) {
  .dcf-flex-left\@m {
    justify-content: flex-start;
  }
  .dcf-flex-center\@m {
    justify-content: center;
  }
  .dcf-flex-right\@m {
    justify-content: flex-end;
  }
  .dcf-flex-between\@m {
    justify-content: space-between;
  }
  .dcf-flex-around\@m {
    justify-content: space-around;
  }
}
/* Desktop and bigger */
@media (min-width: 992px) {
  .dcf-flex-left\@l {
    justify-content: flex-start;
  }
  .dcf-flex-center\@l {
    justify-content: center;
  }
  .dcf-flex-right\@l {
    justify-content: flex-end;
  }
  .dcf-flex-between\@l {
    justify-content: space-between;
  }
  .dcf-flex-around\@l {
    justify-content: space-around;
  }
}
/* Large screen and bigger */
@media (min-width: 992px) {
  .dcf-flex-left\@xl {
    justify-content: flex-start;
  }
  .dcf-flex-center\@xl {
    justify-content: center;
  }
  .dcf-flex-right\@xl {
    justify-content: flex-end;
  }
  .dcf-flex-between\@xl {
    justify-content: space-between;
  }
  .dcf-flex-around\@xl {
    justify-content: space-around;
  }
}
/*
 * Align items in the cross axis of the current line of the flex container
 * Row: Vertical
 */
.dcf-flex-stretch {
  align-items: stretch;
}

.dcf-flex-top {
  align-items: flex-start;
}

.dcf-flex-middle {
  align-items: center;
}

.dcf-flex-bottom {
  align-items: flex-end;
}

/* Direction
 ========================================================================== */
.dcf-flex-row {
  flex-direction: row;
}

.dcf-flex-row-reverse {
  flex-direction: row-reverse;
}

.dcf-flex-column {
  flex-direction: column;
}

.dcf-flex-column-reverse {
  flex-direction: column-reverse;
}

/* Wrap
 ========================================================================== */
.dcf-flex-nowrap {
  flex-wrap: nowrap;
}

.dcf-flex-wrap {
  flex-wrap: wrap;
}

.dcf-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/*
 * Aligns items within the flex container when there is extra space in the cross-axis
 * Only works if there is more than one line of flex items
 */
.dcf-flex-wrap-stretch {
  align-content: stretch;
}

.dcf-flex-wrap-top {
  align-content: flex-start;
}

.dcf-flex-wrap-middle {
  align-content: center;
}

.dcf-flex-wrap-bottom {
  align-content: flex-end;
}

.dcf-flex-wrap-between {
  align-content: space-between;
}

.dcf-flex-wrap-around {
  align-content: space-around;
}

/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.dcf-flex-first {
  order: -1;
}

.dcf-flex-last {
  order: 99;
}

/* Phone landscape and bigger */
@media (min-width: 576px) {
  .dcf-flex-first\@s {
    order: -1;
  }
  .dcf-flex-last\@s {
    order: 99;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 768px) {
  .dcf-flex-first\@m {
    order: -1;
  }
  .dcf-flex-last\@m {
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 992px) {
  .dcf-flex-first\@l {
    order: -1;
  }
  .dcf-flex-last\@l {
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 992px) {
  .dcf-flex-first\@xl {
    order: -1;
  }
  .dcf-flex-last\@xl {
    order: 99;
  }
}
/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.dcf-flex-none {
  flex: none;
}

/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 */
.dcf-flex-auto {
  flex: auto;
}

/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.dcf-flex-1 {
  flex: 1;
}

/* ========================================================================
   Component: Grid
 ========================================================================== */
/*
 * 1. Allow cells to wrap into the next line
 * 2. Reset list
 */
.dcf-grid {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
  /* 2 */
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * Grid cell
 * Note: Space is allocated solely based on content dimensions, but shrinks: 0 1 auto
 * Reset margin for e.g. paragraphs
 */
.dcf-grid > * {
  margin: 0;
}

/*
 * Remove margin from the last-child
 */
.dcf-grid > * > :last-child {
  margin-bottom: 0;
}

/* Gutter
 ========================================================================== */
/*
 * Default
 */
/* Horizontal */
.dcf-grid {
  margin-left: -30px;
}

.dcf-grid > * {
  padding-left: 30px;
}

/* Vertical */
.dcf-grid + .dcf-grid,
.dcf-grid > .dcf-grid-margin,
* + .dcf-grid-margin {
  margin-top: 30px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid {
    margin-left: -40px;
  }
  .dcf-grid > * {
    padding-left: 40px;
  }
  /* Vertical */
  .dcf-grid + .dcf-grid,
  .dcf-grid > .dcf-grid-margin,
  * + .dcf-grid-margin {
    margin-top: 40px;
  }
}
/*
 * Small
 */
/* Horizontal */
.dcf-grid-small,
.dcf-grid-column-small {
  margin-left: -15px;
}

.dcf-grid-small > *,
.dcf-grid-column-small > * {
  padding-left: 15px;
}

/* Vertical */
.dcf-grid + .dcf-grid-small,
.dcf-grid + .dcf-grid-row-small,
.dcf-grid-small > .dcf-grid-margin,
.dcf-grid-row-small > .dcf-grid-margin,
* + .dcf-grid-margin-small {
  margin-top: 15px;
}

/*
 * Medium
 */
/* Horizontal */
.dcf-grid-medium,
.dcf-grid-column-medium {
  margin-left: -30px;
}

.dcf-grid-medium > *,
.dcf-grid-column-medium > * {
  padding-left: 30px;
}

/* Vertical */
.dcf-grid + .dcf-grid-medium,
.dcf-grid + .dcf-grid-row-medium,
.dcf-grid-medium > .dcf-grid-margin,
.dcf-grid-row-medium > .dcf-grid-margin,
* + .dcf-grid-margin-medium {
  margin-top: 30px;
}

/*
 * Large
 */
/* Horizontal */
.dcf-grid-large,
.dcf-grid-column-large {
  margin-left: -40px;
}

.dcf-grid-large > *,
.dcf-grid-column-large > * {
  padding-left: 40px;
}

/* Vertical */
.dcf-grid + .dcf-grid-large,
.dcf-grid + .dcf-grid-row-large,
.dcf-grid-large > .dcf-grid-margin,
.dcf-grid-row-large > .dcf-grid-margin,
* + .dcf-grid-margin-large {
  margin-top: 40px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-large,
  .dcf-grid-column-large {
    margin-left: -70px;
  }
  .dcf-grid-large > *,
  .dcf-grid-column-large > * {
    padding-left: 70px;
  }
  /* Vertical */
  .dcf-grid + .dcf-grid-large,
  .dcf-grid + .dcf-grid-row-large,
  .dcf-grid-large > .dcf-grid-margin,
  .dcf-grid-row-large > .dcf-grid-margin,
  * + .dcf-grid-margin-large {
    margin-top: 70px;
  }
}
/*
 * Collapse
 */
/* Horizontal */
.dcf-grid-collapse,
.dcf-grid-column-collapse {
  margin-left: 0;
}

.dcf-grid-collapse > *,
.dcf-grid-column-collapse > * {
  padding-left: 0;
}

/* Vertical */
.dcf-grid + .dcf-grid-collapse,
.dcf-grid + .dcf-grid-row-collapse,
.dcf-grid-collapse > .dcf-grid-margin,
.dcf-grid-row-collapse > .dcf-grid-margin {
  margin-top: 0;
}

/* Divider
 ========================================================================== */
.dcf-grid-divider > * {
  position: relative;
}

.dcf-grid-divider > :not(.dcf-first-column)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #e5e5e5;
}

/* Vertical */
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
}

/*
 * Default
 */
/* Horizontal */
.dcf-grid-divider {
  margin-left: -60px;
}

.dcf-grid-divider > * {
  padding-left: 60px;
}

.dcf-grid-divider > :not(.dcf-first-column)::before {
  left: 30px;
}

/* Vertical */
.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 60px;
}

.dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
  left: 60px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-divider {
    margin-left: -80px;
  }
  .dcf-grid-divider > * {
    padding-left: 80px;
  }
  .dcf-grid-divider > :not(.dcf-first-column)::before {
    left: 40px;
  }
  /* Vertical */
  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin {
    margin-top: 80px;
  }
  .dcf-grid-divider.dcf-grid-stack > .dcf-grid-margin::before {
    top: -40px;
    left: 80px;
  }
}
/*
 * Small
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-small,
.dcf-grid-divider.dcf-grid-column-small {
  margin-left: -30px;
}

.dcf-grid-divider.dcf-grid-small > *,
.dcf-grid-divider.dcf-grid-column-small > * {
  padding-left: 30px;
}

.dcf-grid-divider.dcf-grid-small > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-small > :not(.dcf-first-column)::before {
  left: 15px;
}

/* Vertical */
.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 30px;
}

.dcf-grid-divider.dcf-grid-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -15px;
  left: 30px;
}

.dcf-grid-divider.dcf-grid-row-small.dcf-grid-stack > .dcf-grid-margin::before {
  top: -15px;
}

.dcf-grid-divider.dcf-grid-column-small.dcf-grid-stack > .dcf-grid-margin::before {
  left: 30px;
}

/*
 * Medium
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-medium,
.dcf-grid-divider.dcf-grid-column-medium {
  margin-left: -60px;
}

.dcf-grid-divider.dcf-grid-medium > *,
.dcf-grid-divider.dcf-grid-column-medium > * {
  padding-left: 60px;
}

.dcf-grid-divider.dcf-grid-medium > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-medium > :not(.dcf-first-column)::before {
  left: 30px;
}

/* Vertical */
.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 60px;
}

.dcf-grid-divider.dcf-grid-medium.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
  left: 60px;
}

.dcf-grid-divider.dcf-grid-row-medium.dcf-grid-stack > .dcf-grid-margin::before {
  top: -30px;
}

.dcf-grid-divider.dcf-grid-column-medium.dcf-grid-stack > .dcf-grid-margin::before {
  left: 60px;
}

/*
 * Large
 */
/* Horizontal */
.dcf-grid-divider.dcf-grid-large,
.dcf-grid-divider.dcf-grid-column-large {
  margin-left: -80px;
}

.dcf-grid-divider.dcf-grid-large > *,
.dcf-grid-divider.dcf-grid-column-large > * {
  padding-left: 80px;
}

.dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
.dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
  left: 40px;
}

/* Vertical */
.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
  margin-top: 80px;
}

.dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -40px;
  left: 80px;
}

.dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin::before {
  top: -40px;
}

.dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack > .dcf-grid-margin::before {
  left: 80px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
  /* Horizontal */
  .dcf-grid-divider.dcf-grid-large,
  .dcf-grid-divider.dcf-grid-column-large {
    margin-left: -140px;
  }
  .dcf-grid-divider.dcf-grid-large > *,
  .dcf-grid-divider.dcf-grid-column-large > * {
    padding-left: 140px;
  }
  .dcf-grid-divider.dcf-grid-large > :not(.dcf-first-column)::before,
  .dcf-grid-divider.dcf-grid-column-large > :not(.dcf-first-column)::before {
    left: 70px;
  }
  /* Vertical */
  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin,
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin {
    margin-top: 140px;
  }
  .dcf-grid-divider.dcf-grid-large.dcf-grid-stack > .dcf-grid-margin::before {
    top: -70px;
    left: 140px;
  }
  .dcf-grid-divider.dcf-grid-row-large.dcf-grid-stack > .dcf-grid-margin::before {
    top: -70px;
  }
  .dcf-grid-divider.dcf-grid-column-large.dcf-grid-stack > .dcf-grid-margin::before {
    left: 140px;
  }
}
/* Match child of a grid cell
 ========================================================================== */
/*
 * Behave like a block element
 * 1. Wrap into the next line
 * 2. Take the full width, at least 100%. Only if no class from the Width component is set.
 * 3. Expand width even if larger than 100%, e.g. because of negative margin (Needed for nested grids)
 */
.dcf-grid-match > *,
.dcf-grid-item-match {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
}

.dcf-grid-match > * > :not([class*=dcf-width]),
.dcf-grid-item-match > :not([class*=dcf-width]) {
  /* 2 */
  box-sizing: border-box;
  width: 100%;
  /* 3 */
  flex: auto;
}

/* ========================================================================
   Component: Animation
 ========================================================================== */
[class*=dcf-animation-] {
  animation: 0.5s ease-out both;
}

/* Direction modifier
 ========================================================================== */
.dcf-animation-reverse {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

/* Duration modifier
 ========================================================================== */
.dcf-animation-fast {
  animation-duration: 0.15s;
}

.dcf-animation-medium {
  animation-duration: 0.25s;
}

/* Animations
 ========================================================================== */
/*
 * Fade
 */
.dcf-animation-fade {
  animation-name: dcf-fade;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

/*
 * Scale
 */
.dcf-animation-scale-up {
  animation-name: dcf-fade, dcf-scale-up;
}

.dcf-animation-scale-down {
  animation-name: dcf-fade, dcf-scale-down;
}

/*
 * Slide
 */
.dcf-animation-slide-top {
  animation-name: dcf-fade, dcf-slide-top;
}

.dcf-animation-slide-bottom {
  animation-name: dcf-fade, dcf-slide-bottom;
}

.dcf-animation-slide-left {
  animation-name: dcf-fade, dcf-slide-left;
}

.dcf-animation-slide-right {
  animation-name: dcf-fade, dcf-slide-right;
}

/*
 * Slide Small
 */
.dcf-animation-slide-top-small {
  animation-name: dcf-fade, dcf-slide-top-small;
}

.dcf-animation-slide-bottom-small {
  animation-name: dcf-fade, dcf-slide-bottom-small;
}

.dcf-animation-slide-left-small {
  animation-name: dcf-fade, dcf-slide-left-small;
}

.dcf-animation-slide-right-small {
  animation-name: dcf-fade, dcf-slide-right-small;
}

/*
 * Slide Medium
 */
.dcf-animation-slide-top-medium {
  animation-name: dcf-fade, dcf-slide-top-medium;
}

.dcf-animation-slide-bottom-medium {
  animation-name: dcf-fade, dcf-slide-bottom-medium;
}

.dcf-animation-slide-left-medium {
  animation-name: dcf-fade, dcf-slide-left-medium;
}

.dcf-animation-slide-right-medium {
  animation-name: dcf-fade, dcf-slide-right-medium;
}

/*
 * Kenburns
 */
.dcf-animation-kenburns {
  animation-name: dcf-kenburns;
  animation-duration: 15s;
}

/*
 * Shake
 */
.dcf-animation-shake {
  animation-name: dcf-shake;
}

/*
 * SVG Stroke
 * The `--dcf-animation-stroke` custom property contains the longest path length.
 * Set it manually or use `dcf-svg="stroke-animation: true"` to set it automatically.
 * All strokes are animated by the same pace and doesn't end simultaneously.
 * To end simultaneously, `pathLength="1"` could be used, but it's not working in Safari yet.
 */
.dcf-animation-stroke {
  animation-name: dcf-stroke;
  animation-duration: 2s;
  stroke-dasharray: var(--dcf-animation-stroke);
}

/* Toggle animation based on the State of the Parent Element
 ========================================================================== */
.dcf-animation-toggle:not(:hover):not(:focus) [class*=dcf-animation-] {
  animation-name: none;
}

/* Keyframes used by animation classes
 ========================================================================== */
/*
 * Fade
 */
@keyframes dcf-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
 * Scale
 */
@keyframes dcf-scale-up {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dcf-scale-down {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*
 * Slide
 */
@keyframes dcf-slide-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dcf-slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Slide Small
 */
@keyframes dcf-slide-top-small {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-bottom-small {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-left-small {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dcf-slide-right-small {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Slide Medium
 */
@keyframes dcf-slide-top-medium {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-bottom-medium {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dcf-slide-left-medium {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dcf-slide-right-medium {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
/*
 * Kenburns
 */
@keyframes dcf-kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/*
 * Shake
 */
@keyframes dcf-shake {
  0%, 100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-9px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-7px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
}
/*
 * Stroke
 */
@keyframes dcf-stroke {
  0% {
    stroke-dashoffset: var(--dcf-animation-stroke);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*# sourceMappingURL=main.css.map */
